.mat-toolbar{
    background-color: #11709c;
    height: 12vh;
    display: flex;
    padding: 1.5vh;
}

.image-class{
    height: 8vh;
    margin-right: auto;
}

.mat-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;    
}

.mat-menu-item{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
}